# ################
# Compton settings
# by gaalcaras
# ################

# ==== BLUR ====
blur:
{
  method = "gaussian";
  size = 10;
  deviation = 5.0;
}

# ==== FADE ====
# fading = true;
# fade-delta = 8;

# ==== SHADOW ====
shadow-opacity = 0.8;
shadow-radius = 15;

# ==== OPACITY ====
# inactive-opacity = 0.65;
# active-opacity = 0.9;

# # wmctrl -lx to list window titles and classes
# opacity-rule = [
#    "100:fullscreen",
#    "60:name = 'alfred_voice'",
#    "97:class_g = 'TelegramDesktop'",
#    "100:class_g = 'Rofi'",
#    "100:class_g = 'mpv'",
#    "100:class_g = 'plexmediaplayer'",
#    "100:class_g *= 'KADOKAWA'",
#    # Do not draw underlying windows when staked or tabbed windows
#    "90:class_g = 'alacritty' && !_NET_WM_STATE@:32a",
#    "0:_NET_WM_STATE@[0]:32a *= '_NET_WM_STATE_HIDDEN'",
#    "0:_NET_WM_STATE@[1]:32a *= '_NET_WM_STATE_HIDDEN'",
#    "0:_NET_WM_STATE@[2]:32a *= '_NET_WM_STATE_HIDDEN'",
#    "0:_NET_WM_STATE@[3]:32a *= '_NET_WM_STATE_HIDDEN'",
#    "0:_NET_WM_STATE@[4]:32a *= '_NET_WM_STATE_HIDDEN'"
# ];

# Window type settings
# wintypes:
# {
#   tooltip = { fade = true; shadow = false; opacity = 0.75; };
#   dock = { fade = true; shadow = true; opacity = 0.8; };
# };

# Prevent mpv / youtube fullscreen tearing on XPS 13
backend = "glx";
vsync = true;
# use-damage = false;
xrender-sync-fence = true;
glx-no-stencil = true;
glx-copy-from-front = false;

