[calendars]

[[recherche]]
path = ~/.calendars/recherche/
color = "#eab700"
priority = 30

[[enseignement]]
path = ~/.calendars/enseignement/
color = "#4271ae"

[[perso]]
path = ~/.calendars/perso/
color = "#718c00"

[[taskwarrior]]
path = ~/.calendars/taskwarrior/
color = light red
priority = 20

[[trainline]]
path = ~/.calendars/trainline/
color = "#f5871f"
readonly = True

[[holidays]]
path = ~/.calendars/holidays/
color = "#586e75"
readonly = True

[[school]]
path = ~/.calendars/school/
color = "#586e75"
readonly = True

[default]
default_calendar = recherche
highlight_event_days = true
timedelta = 7d

[keybindings]
down = down,t
up = up,s
left = left,c
right = right,r
today = T

[locale]
timeformat = %H:%M
dateformat = %Y-%m-%d
longdateformat = %Y-%m-%d
datetimeformat = %Y-%m-%d %H:%M
longdatetimeformat = %Y-%m-%d %H:%M
local_timezone = 'Europe/Paris'
default_timezone = 'Europe/Paris'
