task/taskrc.symlink filter=contextignore
task/taskserver filter=contextignore
mutt.config/alias filter=git-crypt diff=git-crypt
mutt.config/mlists filter=git-crypt diff=git-crypt
mr/mrconfig.symlink filter=git-crypt diff=git-crypt
newsboat/urls.config filter=git-crypt diff=git-crypt
gpg/gpg-agent.conf filter=git-crypt diff=git-crypt
