task/taskrc.symlink filter=contextignore
mutt/alias filter=git-crypt diff=git-crypt
mutt/mlists filter=git-crypt diff=git-crypt
mr/mrconfig.symlink filter=git-crypt diff=git-crypt
newsboat/urls filter=git-crypt diff=git-crypt
