configuration {
  modi: "run,note:/home/gaalcaras/.dotfiles/rofi/modules/rofi_note,zettel:/home/gaalcaras/.dotfiles/rofi/modules/rofi_zettel,task:/home/gaalcaras/.dotfiles/rofi/modules/rofi_task,pass:/home/gaalcaras/.dotfiles/rofi/modules/rofi_pass";
  font: "DejaVu Sans Mono 9";
  padding: 12.5;
  run-shell-command: "termite --hold -t {cmd} -e {cmd}";
  hide-scrollbar: true;
  display-run: "> ";
}

/* Solarized theme */

* {

  /* Settings */
  major: @blue;
  minor: @magenta;
  backdrop: ${ROFIBG};

  /* Solarized colors */

  base03:  #002b36;
  base02:  #073642;
  base01:  #586e75;
  base00:  #657b83;
  base0:   #839496;
  base1:   #93a1a1;
  base2:   #eee8d5;
  base3:   #fdf6e3;
  yellow:  #b58900;
  orange:  #cb4b16;
  red:     #dc322f;
  magenta: #d33682;
  violet:  #6c71c4;
  blue:    #268bd2;
  cyan:    #2aa198;
  green:   #859900;

  /* Main element styles */
  border-color: @major;
  color: @major;
  spacing: 2;
  background-color: transparent;
}

window {
  fullscreen: true;
  background-color: @backdrop;
}

mainbox {
  border: 3;
  margin: 30%;
  padding: 30;
}

inputbar {
  border: 0 0 1px dash;
  padding: 0 0 20 0;
}

prompt, entry {
  text-style: bold;
}

element {
  border:  0;
}

listview {
  margin: 20 0 0 0;
  columns: ${ROFICOL};
}

element selected {
  text-color: @minor;
}
