* {
    foreground:                  @base00;
    background:                  @base3;
    alternate-foreground:        @base1;
    selected-background:         @base2;
}

window {
    transparency: "/home/gaalcaras/.dotfiles/wallpaper/light.png";
}
