[global]
  follow = keyboard

  geometry = "300x5-35+35" # [{width}]x{height}[+/-{x}+/-{y}]
  transparency = 20 # Range: [0; 100]
  frame_width = 0
  # frame_color = "#b58900" # yellow

  separator_height = 0
  # separator_color = "#073642" # lighter color

  padding = 15
  horizontal_padding = 15
  corner_radius = 10

  origin = top-right
  offset = 35x35

  # Don't remove messages, if the user is idle for...
  idle_threshold = 120

  progress_bar_height = 20

  ### Text ###

  font = DejaVu Sans Mono 9
  markup = full
  format = "<b>%a</b>\n%s <i>%b</i>"

  # Show age of message if message is older than show_age_threshold
  show_age_threshold = 60

  # Split notifications into multiple lines if they don't fit into geometry.
  word_wrap = yes

  dmenu = "~/.dotfiles/dunst/rofi_dunst"
  browser = /usr/bin/qutebrowser

  # Defines action of mouse event
  mouse_left_click = close_current
  mouse_middle_click = do_action
  mouse_right_click = close_all

[urgency_low]
  # Blue
  background = "#1d1f21"
  foreground = "#81a2be"
  # frame_color = "#81a2be"
  timeout = 10

[urgency_normal]
  # Yellow
  background = "#1d1f21"
  foreground = "#f0c674"
  # frame_color = "#f0c674"
  timeout = 10

[urgency_critical]
  # Red
  background = "#1d1f21"
  foreground = "#cc6666"
  # frame_color = "#cc6666"
  timeout = 0
