[Unit]
Description=Sync emails (retrieve and send queue)
After=keyring.target network.target
ConditionPathExistsGlob=/home/gabo/.msmtpqueue

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/bin/email-sync --quiet --daily

[Install]
Also=email-sync.timer
