# Settings

prepopulate-query-feeds yes
confirm-exit yes
text-width 80
ignore-mode display
auto-reload yes
reload-time 15
reload-threads 4

bookmark-cmd "python ~/.dotfiles/newsboat/newsboat_to_wallabag.py"
bookmark-autopilot yes

browser firefox

notify-program "~/.dotfiles/newsboat/newsboat_notify"
notify-format "%d new articles (%n unread articles, %f unread feeds)"

# Unbind keys
unbind-key B

# Bind keys
bind-key t down
bind-key s up
bind-key t next articlelist
bind-key s prev articlelist
bind-key r next-feed articlelist
bind-key c prev-feed articlelist
bind-key r next article
bind-key c prev article
bind-key G end
bind-key g home
bind-key ^F pagedown
bind-key ^B pageup
bind-key n next-unread
bind-key N prev-unread
bind-key ^R reload
bind-key ^S save
bind-key BACKSPACE toggle-show-read-feeds
bind-key d delete-article
bind-key D delete-all-articles

bind-key T select-tag
bind-key ^T select-tag
bind-key b bookmark
bind-key B bookmark article
bind-key p pipe-to

bind-key o open-in-browser-and-mark-read articlelist
bind-key o open-in-browser article
bind-key SPACE toggle-article-read

bind-key l select-filter
bind-key L clear-filter

# Colors
color background         default   default
color listnormal         default   default
color listnormal_unread  blue      default
color listfocus          black     yellow
color listfocus_unread   black     yellow
color info               default   black
color article            default   default

# Format
feedlist-format "%4i %S %n %10U %t"
articlelist-format "%4i %f %-10D %20T %-80t %?a?par %-20a?"

# highlights
highlight article "^(Title|Titre ):.*$" blue default
highlight article "^(Date\\s?):.*$" magenta default

# Filters

define-filter "today" "age <= 2"
define-filter "last week" "age <= 7"
define-filter "last month" "age <= 31"
define-filter "last semester" "age <= 180"

# ==== Macros ====

# Time-based macros
macro t set-filter "age <= 1"
macro T set-filter "age <= 2"
macro w set-filter "age <= 7"

macro v set browser "echo '$*' | xargs i3-msg exec '~/.dotfiles/newsboat/send_to_mpv $@'"; open-in-browser ; set browser firefox
macro V set browser "rm -f /tmp/newsboat_mpv.m3u #" ; open-in-browser ; set browser "echo $* >> /tmp/newsboat_mpv.m3u"; open-all-unread-in-browser-and-mark-read ; set browser "i3-msg exec '~/.dotfiles/newsboat/send_to_mpv /tmp/newsboat_mpv.m3u' #" ; open-in-browser ; set browser firefox
macro d set browser "echo '$*' | xargs i3-msg exec 'youtube-dl --config-location ~/.dotfiles/youtube-dl/youtube-dl-audio.conf $@'" ; open-in-browser ; set browser firefox
macro D set browser "echo '$*' | xargs i3-msg exec 'youtube-dl --config-location ~/.dotfiles/youtube-dl/youtube-dl-audio.conf $@'" ; open-all-unread-in-browser-and-mark-read ; set browser firefox
macro T set browser "echo '$*' | xargs i3-msg exec transmission-gtk "; open-in-browser-and-mark-read ; set browser firefox

macro p pipe-to "cat | ~/.dotfiles/newsboat/pipe_to_wallabag"

# Killfile
ignore-article "https://www.youtube.com/feeds/videos.xml?user=ColliderVideos" "title !~ \"Schmoedown\" and title !~ \"1 on 1\""
ignore-article "https://www.youtube.com/feeds/videos.xml?user=schmoesknow" "title !~ \"Schmoedown\""
ignore-article "https://www.youtube.com/feeds/videos.xml?user=LinusTechTips" "title =~ \"WAN\""
ignore-article "https://www.youtube.com/feeds/videos.xml?channel_id=UCJldRgT_D7Am-ErRHQZ90uw" "title !~ \"Meurice\""
ignore-article "https://www.alternatives-economiques.fr/rss.xml" "title !~ \"sociorama\""
ignore-article "https://www.theverge.com/rss/film/index.xml" "title !~ \"trailer\""
ignore-article "https://www.youtube.com/feeds/videos.xml?channel_id=UCVls1GmFKf6WlTraIb_IaJg" "title !~ \"LIVE\"" # DistrotubE
