[settings]
# Use ranger as a file browser, a nice python program
file-browser = ranger
# Ask for confirmation when doing papis add
add-confirm = True
# Edit the info.yaml file before adding a doc into the library papis add --edit
add-edit = True
# Open the files before adding a document into the library papis add --open
add-open = True
# Use git when possible
use-git = True

# format-jinja2-enable = True
# match-format = {{doc.html_escape['title']}}{{doc.html_escape['author']}}{{doc.html_escape['year']}}{{doc.html_escape['tags']}}{{doc.html_escape['journal']}}
# header-format = <ansired>{{doc.html_escape['title']}}</ansired>
#   {%% if doc.has('journal') %%} in <violet><italic>{{doc.html_escape['journal']}}</italic></violet>{%% endif %%}
#   <ansigreen>{{doc.html_escape['author']}}</ansigreen>
#   <blue>({{doc.html_escape['year']}})</blue> {%% if doc.has('tags') %%}[<ansiyellow>{{doc.html_escape['tags']}}</ansiyellow>]{%% endif %%}
#   <br/>



[papers]
dir = ~/Documents/bib/papers
notes-name = notes.md
# ref-format = {doc[author_list][0][surname]}{doc[year]}
add-name = {doc[author_list][0][surname]}-{doc[year]}-{doc[title]:.25}
add-dir = inbox
file-name = {doc[author_list][0][surname]}-{doc[year]}-{doc[title]:.25}
