snippet yaml_note "YAML frontmatter for notetaking"
<!--
---
title: ${1:Title}
author: ${3:Gabriel Alcaras}
date: `date +"%Y-%m-%d"`
lastmodified: 2017-12-01 17:54:02
fontfamily: libertine
lang: fr
---
-->

# ${4:First section}
endsnippet
