;==========================================================
; Polybar config
; by @gaalcaras
;==========================================================

[colors]
# Tomorrow colortheme
fg           = ${xrdb:foreground:#c5c8c6}
bg           = ${xrdb:background:#1d1f21}
red          = ${xrdb:color1:#cc6666}
green        = ${xrdb:color2:#b5bd68}
yellow       = ${xrdb:color3:#f0c674}
blue         = ${xrdb:color4:#81a2be}
purple       = ${xrdb:color5:#b294bb}
aqua         = ${xrdb:color6:#8abeb7}
comment      = ${xrdb:color8:#969896}
orange       = ${xrdb:color9:#de935f}
currentline  = ${xrdb:color10:#282a2e}
selection    = ${xrdb:color11:#373b41}

[bar/base_settings]
# Not a real bar, just a common configuration which all other bars inherit from.
enable-ipc = true
bottom = true
override-redirect = true
wm-restack = i3

height = 41

# FONTS

# Default font:
# font-N = <fontconfig pattern>;<vertical offset>
font-0 = "FiraCode Nerd Font:size=11;1"

# Use font-1 with "%{T2} text %{T-}" (index+1)
font-1 = "FiraCode Nerd Font:pixelsize=80:scale=2;18"
font-2 = "FiraCode Nerd Font:pixelsize=55;-11"
font-3 = "FiraCode Nerd Font:pixelsize=55;34"

cursor-click = pointer
cursor-scroll = ns-resize

underline-size = 3

[bar/bar_bg]
# Not a real bar, just a common configuration for background bars.
width = 100%

foreground   = ${colors.fg}
background   = ${colors.bg}

margin = 0
padding = 0
module-margin-left = 0
module-margin-right = 0

inherit = bar/base_settings

[bar/systray]
monitor = ${env:MONITOR1:HDMI-1}
inherit = bar/base_settings

offset-x = 100%-10px
width = 1

modules-right = placeholder

tray-position = right
tray-maxsize = 16
tray-padding = 8
tray-background = ${colors.bg}

[module/placeholder]
# Just a dummy module as polybar always requires at least one amodule
type = custom/script
width = 1

[bar/1_base]
monitor = ${env:MONITOR1:HDMI-1}
; monitor-fallback = "DP-1.3"
; monitor-fallback-2 = "eDP-1-1"

inherit = bar/bar_bg bar/base_settings

modules-left = i3 tr1 backlight tr2 audio email
modules-center = date
modules-right = record vpn wlan tr5 temperature tr6 battery

tray-position = none

[bar/1_secondary]
monitor = ${env:MONITOR2:HDMI-0}
; monitor-fallback = "eDP-1.1"
; monitor-fallback-2 = "DP-1"

inherit = bar/bar_bg bar/base_settings

modules-left = i3
modules-center = date
modules-right = battery

[bar/2_third]
monitor = "DP-0"
; monitor-fallback = "DP-1"

inherit = bar/bar_bg bar/base_settings

modules-left = i3
modules-center =
modules-right = date

[bar/light]
inherit=bar/1_base
include-file=~/.dotfiles/polybar/light

[bar/dark]
inherit=bar/1_base

[bar/light_2]
inherit=bar/1_secondary

[bar/dark_2]
inherit=bar/1_secondary

[bar/light_3]
inherit=bar/2_third

[bar/dark_3]
inherit=bar/2_third

[module/i3]
type = internal/i3
format =   <label-mode><label-state>

bg = ${colors.purple}
fg = ${colors.bg}

format-prefix = "   "
format-prefix-background = ${self.bg}
format-prefix-foreground = ${colors.bg}

format-background = ${self.bg}
format-foreground = ${self.fg}

index-sort = true
wrapping-scroll = false
format-padding = 0
gradient = true
pin-workspaces = true

ws-icon-0 = 0;0
ws-icon-1 = 1;1
ws-icon-2 = 2;2
ws-icon-3 = 3;3
ws-icon-4 = 4;4
ws-icon-5 = 5;5
ws-icon-6 = 6;6
ws-icon-7 = 7;7
ws-icon-8 = 8;8
ws-icon-9 = 9;9
ws-icon-10 = 10;10

label-mode = %mode%
label-mode-padding = 1

label-workspace = %icon%

; focused = Active workspace on focused monitor
label-focused = ${self.label-workspace}
label-focused-padding = ${self.label-mode-padding}
label-focused-underline = ${self.fg}
label-focused-foreground = ${self.bg}
label-focused-background = ${self.fg}

; unfocused = Inactive workspace on any monitor
label-unfocused = ${self.label-workspace}
label-unfocused-padding = ${self.label-mode-padding}
label-unfocused-foreground = ${self.fg}
label-unfocused-background = ${self.bg}

; visible = Active workspace on unfocused monitor
label-visible = ${self.label-workspace}
label-visible-padding = ${self.label-mode-padding}
label-visible-underline = ${colors.selection}
label-visible-foreground = ${colors.selection}

; urgent = Workspace with urgency hint set
label-urgent = ${self.label-workspace}
label-urgent-padding = ${self.label-mode-padding}
label-urgent-foreground = ${colors.red}

[module/tr1]
type = custom/text
content = ""
content-font = 2
content-background = ${colors.purple}
content-foreground = ${colors.blue}
content-padding = 0
content-margin = 0

[module/backlight]
type = internal/backlight
card = intel_backlight

format = <label>
format-padding = 0
label =  %percentage%%

label-background = ${colors.blue}
label-foreground = ${colors.bg}

[module/tr2]
type = custom/text
content = ""
content-font = 2
content-background = ${colors.blue}
content-foreground = ${colors.aqua}
content-padding = 0
content-margin = 0

[module/audio]
type = custom/script
exec = ~/.dotfiles/bar_modules/pulseaudio
interval = 1

label-background = ${colors.aqua}
label-foreground = ${colors.bg}
format-padding = 0

[module/tr3]
type = custom/text
content = ""
content-font = 2
content-background = ${colors.aqua}
content-foreground = ${colors.bg}
content-padding = 0
content-margin = 0

[module/tr5]
type = custom/text
content = ""
content-font = 3
content-background = ${colors.yellow}
content-foreground = ${colors.orange}
content-padding = 0
content-margin = 0

[module/wlan]
type = internal/network
interface = wlp0s20f3
interval = 5

format-connected = <label-connected>
label-connected =   %essid%   %signal%%
format-padding = 0

format-connected-background = ${colors.yellow}
format-connected-foreground = ${colors.bg}

format-disconnected = 睊
format-disconnected-foreground = ${colors.bg}

ramp-signal-0 =   

[module/tr6]
type = custom/text
content = ""
content-font = 3
content-background = ${colors.orange}
content-foreground = ${colors.red}
content-padding = 0
content-margin = 0

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98

format-charging =  <label-charging> 
format-discharging =  <label-discharging> 
format-full =  <label-full> 

format-charging-foreground = ${colors.bg}
format-discharging-foreground = ${colors.bg}
format-full-foreground = ${colors.bg}

format-charging-background = ${colors.red}
format-full-background = ${colors.red}
format-discharging-background = ${colors.red}

[module/date]
type = internal/date
interval = 5

date = " %d %b "
time = " %H:%M"

time-alt = %H:%M

label = %date%%time%
label-padding = 2

format-prefix = ""
format-prefix-font = 4
format-prefix-padding = 0
format-prefix-foreground = ${colors.green}
format-prefix-background = ${colors.bg}

format-suffix = ""
format-suffix-font = 3
format-suffix-padding = 0
format-suffix-foreground = ${colors.bg}
format-suffix-background = ${colors.green}

format-padding = 0
format-background = ${colors.green}
format-foreground = ${colors.bg}

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-warn = <ramp> <label-warn>
format-padding = 0

label = %temperature-c%
label-warn = %temperature-c%

format-background = ${colors.orange}
format-warn-background = ${colors.orange}
format-foreground = ${colors.bg}

; start ramp at 20 degrees
base-temperature = 40
ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 

ramp-0-foreground = ${colors.bg}
ramp-1-foreground = ${colors.bg}
ramp-2-foreground = ${colors.bg}
ramp-3-foreground = ${colors.bg}

label-foreground = ${colors.bg}
label-warn-foreground = ${colors.bg}

[module/khal]
type = custom/script
exec = ~/.dotfiles/bar_modules/khal
interval = 5
click-left=termite -t ikhal -e ikhal

[module/task]
type = custom/script
exec = ~/.dotfiles/bar_modules/task
interval = 5
click-left=termite --hold -t task -e task

[module/mr]
type = custom/script
exec = ~/.dotfiles/bar_modules/mr
interval = 5
click-left=termite --hold -t mr -e "mr status"

[module/date_tz]
type = custom/script
exec = ~/.dotfiles/bar_modules/date_tz
interval = 5
click-left=$BROWSER "https://www.worldtimebuddy.com/?pl=1&lid=5391959,2988507&h=5391959"

[module/email]
type = custom/script
exec = ~/.dotfiles/bar_modules/email_status
; exec = python ~/.dotfiles/bar_modules/watch_inbox.py
interval = 5

format-prefix = ""
format-prefix-font = 4
format-prefix-padding = 0
format-prefix-margin = 0
format-prefix-foreground = ${colors.selection}
format-prefix-background = ${colors.aqua}

format-suffix = ""
format-suffix-font = 4
format-suffix-padding = 0
format-suffix-margin = 0
format-suffix-foreground = ${colors.bg}
format-suffix-background = ${colors.selection}

format-padding = 0
label-padding = 1
format-background = ${colors.selection}

[module/nvidia]
type = custom/script
exec = ~/.dotfiles/bar_modules/nvidia
interval = 60

[module/empty]
type = custom/script
exec = echo
interval = 60000

[module/tr4]
type = custom/text
content = ""
content-font = 4
content-background = ${colors.bg}
content-foreground = ${colors.yellow}
content-padding = 0
content-margin = 0

[module/vpn]
type = custom/script
exec = ~/.dotfiles/bar_modules/vpn
interval = 5

click-left=termite -t network -e nmtui

format-prefix = ""
format-prefix-font = 2
format-prefix-padding = 0
format-prefix-margin = 0
format-prefix-foreground = ${colors.selection}
format-prefix-background = ${colors.bg}

format-suffix = ""
format-suffix-font = 2
format-suffix-padding = 0
format-suffix-margin = 0
format-suffix-foreground = ${colors.yellow}
format-suffix-background = ${colors.selection}

format-padding = 0
label-padding = 1
format-background = ${colors.selection}

[module/record]
type = custom/script
exec = ~/.dotfiles/bar_modules/record
interval = 5

format-padding = 2

[settings]
screenchange-reload = true
format-padding = 1

[global/wm]
margin-top = 0
margin-bottom = 0

; vim:ft=dosini
