[Unit]
Description=Sync contacts and calendars (with vdirsyncer)
After=keyring.target network.target
ConditionPathExistsGlob=/home/gaalcaras/.dotfiles/bin/vdir-sync

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/bin/vdir-sync --daily

[Install]
Also=vdir-sync.timer
